@model Site.AdminUsersView
<table>
    <thead>
        <tr>
            <th>Email</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var user in Model.GetUsers())
        {
            <tr>
                <td>@user.Email</td>
            </tr>
        }
    </tbody>
</table>
