<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Tagovi.Cms</title>
</head>
<body>
    <div>
        <a href="/">Home</a>
    </div>
    <div>
        @RenderBody()
    </div>
    <div>
        @if (Request.IsAuthenticated)
        {
            <a href="/Admin/Logout">Logout @User.Identity.Name</a>
        }
        else
        {
            <a href="/Admin/Login">Login</a>
        }
    </div>
    <div>
        @Html.Section("Ad")
        @Html.Partial("~/content/parts/Posts.cshtml")
    </div>
</body>
</html>
