<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
  </appSettings>
  <connectionStrings>
  </connectionStrings>
  <system.web>
    <compilation defaultLanguage="C#" targetFramework="4.5.1" debug="true" />
    <httpRuntime targetFramework="4.5.1" />
    <pages controlRenderingCompatibilityVersion="4.0" />
  </system.web>
</configuration>
